@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dim (&:is(.dim *));
@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-dark-background: var(--dark-background);
    --color-muted: var(--muted);
    --color-border: var(--border);
    --space: 10px;
    --radius: 4px;
}

:root {
    --font-family: "Arial";
    --font-size: 16px;
}

@layer base{
    :root, html[data-theme='light']{
        --background: #ffffff;
        --foreground: #000000;
        --primary: #faa500;
        --secondary-fg: #292f33;
        --dark-background: #f5f8fa;
        --darker-background: #f5f8fa;
        --border: #e1e8ed;
        --muted: #8899a6;
    }

    html[data-theme='dim'] {
        --background: #1b2836;
        --foreground: #ffffff;
        --primary: #faa500;
        --secondary-fg: #d4e3ed;
        --dark-background: #171f2a;
        --darker-background: #141d26;
        --border: #2c3c52;
        --muted: #8394a1;
    }


    html[data-theme='dark'] {
        --background: #000000;
        --foreground: #ffffff;
        --primary: #faa500;
        --secondary-fg: #d4e3ed;
        --dark-background: #000000;
        --darker-background: #000000;
        --border: #222222;
        --muted: #8394a1;

    }
}

.primary-red {
    --primary: #d14b4b;
}

.primary-pink {
    --primary: #d14b9e;
}

.primary-yellow {
    --primary: #faa500;
}

.primary-blue {
    --primary: #4bacd2;
}

.primary-green {
    --primary: #4bd190;
}

.primary-purple {
    --primary: #954bd1;
}

html, body {
    background-color: var(--darker-background);
    color: var(--foreground);
    font-family: var(--font-family);
    font-size: var(--font-size);
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0px auto;
}

a:hover{
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
    }
}
